* {
  all: unset;
  font-family: "sans-serif";
  font-size: 15px;
}

// Power menu toggled by Waybar
.powermenu {
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 0px 0px 12px 12px;
}

// Widget `entry` options
.entry {
  padding: 10px 12px;
  border-radius: 12px;
  color: #CCCCCC;
  transition: background-color 150ms ease;
}

// Transparent white background to hover
.entry:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
