snippet dockerignore "Initialise a new .dockerignore file"
	# Ignore everything
	*

	# Except environment files
	!environment.yml
	!env/environment.yml
    !pixi.toml
    !pixi.lock
    !env/pixi.toml
    !env/pixi.lock
