snippet hook-lint "Git pre-commit hook for general linting"
	#!/bin/bash
	set -euo pipefail

	editorconfig-checker
	npx prettier --check .
	ruff check .
	nf-core pipelines lint
	stylua --check .
	luacheck --quiet .
	busted .

snippet hook-conventional-commits "Git commit-msg hook for conventional commits"
    #!/bin/bash

    # Check for Conventional Commits standard adherence, with deviation from the
    # default configuration (allowing WIP commits and subject line length), plus
    # stripping of e.g. informational comment lines prior to checking for cleaner
    # and more overviewable output.

    # Create a temporary file to store stripped commit message in and delete it
    # after script completion
    STRIPPED=$(mktemp)
    trap 'rm -f "$STRIPPED"' EXIT

    # Strip commit message using Git itself
    git stripspace --strip-comments < "$1" > "$STRIPPED"

    # Validate the stripped commit message
    commit-check \
        --message "$STRIPPED" \
        --allow-wip-commits true \
        --subject-max-length 72
